#scheduler-container {
  margin: 50px 0;
  border: solid 2px white;
  border-radius: 40px;
  width: 80%;
  padding: 20px 30px;
  background-color:black;
  color:#fff;
  
}

#input-container {
  
}

#scheduler-header {
  font-size: 20px;
}
